doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge").container
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")
        link(rel="icon",href="../../favicon.ico")
        title= title
        block styles
            link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
            link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
            link(rel="stylesheet", href="styles.css")
    body(data-spy="scroll",data-target=".scrollspy")
        block body

        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        .container
            h2= message
            p
                | Please enter a URL Below:
            form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .input-group
                    span.input-group-addon
                        i.fa.fa-envelope.fa-10x
                    input.form-control(type='type', placeholder='URL', name='url' ,required='required')
                br
                button.btn.btn-default(type='submit') Submit
            hr
            if (websiteAnswers && !websiteAnswers.error)
                table.table.table-sm
                    thead.thead-dark
                        tr
                            th(scope='col', rowspan='2') Full Stack Technical Challenge
                    tbody
                        tr
                            th(scope='row') Website Title
                            td= websiteAnswers.title
                        tr
                            th(scope='row') Number Of Clickable Links
                            td= websiteAnswers.allLinks
                        tr
                            th(scope='row') Number Of CLickable Unique Domains:
                            td= websiteAnswers.uniqueDomains
                        tr
                            th(scope='row') Site Protocol is secure?
                            td= (websiteAnswers.siteProtocol) ? 'Yes': 'No'
                        tr
                            th(scope='row') Site Uses Google Analytics
                            td= (websiteAnswers.usesGA === true) ? 'Yes': 'No'
            if (websiteAnswers && websiteAnswers.error)
                .row
                    .col
                        p There was an error: 
                            span= websiteAnswers.error
